body{
  font-family: 'Playfair Display';
  margin: 0;
  padding: 0;
}

h2{
  font-family: 'Playfair Display';
  font-weight: 900;
  text-align: center;
  padding: 1.5rem;
  font-weight: 500;
  font-size: 40px;
}
.content {
  display: flex;
  justify-content: center;

}

.restaurantes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  padding: 2rem;
  margin: 0 5rem 0 5rem;



  cursor: pointer;
}


@media screen and (max-width: 1500px) {
  .restaurantes{
      grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 980px) {
  .restaurantes{
      grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 650px) {
  .restaurantes{
      grid-template-columns:  1fr;
  }
}


.li-restaurantes {
  width: calc(90% - 2rem);
  margin-bottom: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  margin: 0.5rem;
  margin-bottom: 1.5rem;
}

.li-restaurantes:hover {
  transform: scale(1.05);
}



.name {
  display: block;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.type {
  display: block;
  margin-top: 5px;
  font-size: 1rem;
  color: #666;
}

.mat-elevation-z8{
  border-radius: 1rem;
  margin-bottom: 1rem;
  height: 10rem;
  width: 100%; /* Garante que a imagem ocupa 100% da largura do contêiner */
  max-height: 200px; /* Define uma altura máxima para a imagem */
  object-fit: cover; /* Garante que a imagem cubra todo o espaço disponível */
}

.button-add{
  margin-right: 22vh;
}

/* Mídia para dispositivos móveis */
@media screen and (max-width: 600px) {
  .mat-elevation-z8 {
    width: 15rem /* Ajuste conforme necessário para a largura desejada em dispositivos móveis */
  }
}
