

h1 {
  font-family: 'Playfair Display';
  font-size: 2.3rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 1rem;

}

h2 {
  font-family: 'Playfair Display';
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin: auto;

}

h3 {
  font-family: 'Playfair Display';
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin: auto;



  margin-bottom: 1rem;
}

h4{
  font-size: 2rem;
  font-family: 'Playfair Display';
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin: auto;

  margin-bottom: 1rem;

  width: 75%;
}


p{
  font-size: 2rem;
  font-family: 'Playfair Display';
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin: auto;

  margin-bottom: 1rem;

  width: 50%;

}

mat-card{
 margin-bottom: 2rem;
 padding: auto;
 padding-top: 2rem;
 width: 18rem;
 height: 17rem;
 transition: transform 0.3s ease-in-out;
}

mat-card-title{
  background-color: white;
}


.shopping-box{
  justify-content: center;
  margin-bottom: 11vh;
}


.mat-elevation-z8:hover{
  cursor: pointer;
  background: whitesmoke ;
  transform: scale(1.05);

  max-width: 350px;
}

img{
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

mat-card-content{
  background-color: white;
}




.type{
  font-weight: 300;
  font-size: 19px;
  background-color: white;

}

.delivery{
  display: flex;
  align-items:center;
  justify-content: center;
  width: 97%;
  height: 40vh;

  background: radial-gradient(circle at 10% 20%, rgb(149, 219, 254) 0%, rgb(7, 134, 197) 90.1%);

  border: 0px solid rgb(221, 221, 221);
  border-radius: 2vh;

  margin: auto;

  margin-bottom: 8rem;

  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
  0px 16px 24px 2px rgba(0, 0, 0, 0.14),
  0px 6px 30px 5px rgba(0, 0, 0, 0.12);

}

.title_delivery{
  display: flex;
  justify-content: flex-start;

  margin: auto;

  font-size: 3.5rem;
  padding: 0;
  font-weight: 900;
  color: rgb(39, 39, 39);

}

.img_app_delivery{
  cursor: pointer;
  width: 40vh;
  height: 40vh;
  margin: auto;
}

.button_delivery{
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 2vh;
  width: 20vh;
  height: 8vh;
  margin-top: 25vh;
  background-color: #ffffff;
}

.button_delivery1{
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 2vh;
  width: 20vh;
  height: 8vh;
  margin-top: 25vh;
  margin-left: 2vh;
  margin-right: 1.5vh;
  background-color: white;


}

.title-app{
  width: 100%;
  margin-bottom: 5vh;
}

