
  <div class="title-app">
    <h1>Encontre aqui</h1>
    <h2>um restaurante MADERO</h2>
  </div>

  <app-search></app-search>

  <h3>Vai passear no shopping?</h3>
  <h4>Garanta sua mesa</h4>
  <br>


    <div
      class="shopping-box"  fxLayout = "row"
      fxLayout.lt-md = "column"
      fxLayoutGap = "3rem"
      fxLayoutAlign="center center"
    >
      <mat-card
        class="mat-elevation-z8"
        *ngFor="let restaurante of restaurantes"
        [routerLink]="['/restaurantes', restaurante.id]"
      >
        <img mat-card-image [src]="restaurante.img" alt="{{restaurante.name}}">
          <mat-card-content>
            <mat-card-title>{{ restaurante.name }}</mat-card-title>
            <span class="type">{{restaurante.type}}</span>
          </mat-card-content>
      </mat-card>
    </div>




