<header>
  <div class="logo-container">
   <img routerLink="/dashboard" src="../../../assets/img/tWr7v4lTw2v2hG8L05nXPPts1Kx4owTRt141SsVG-removebg-preview.png" alt="Madero-Logo">

    <ng-container *ngIf="isLoggedIn" >
      <button class="material-symbols-outlined" routerLink="/restaurantes">storefront</button>
      <button class="material-symbols-outlined" routerLink="/adm">admin_panel_settings</button>
      <button class="material-symbols-outlined" [matMenuTriggerFor]="menu" >
        <mat-icon>person</mat-icon>
      </button>
    </ng-container>

    <a mat-button
    matTooltip="Login"
    *ngIf="!isLoggedIn"
    routerLink="/login">
    <button class="material-symbols-outlined" routerLink="/login">person</button>
    </a>

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onLogout()">
            Logout
        </button>
    </mat-menu>

  </div>
</header>
