
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  min-height: auto;
  margin: 0;
}




:root {
  --dark-grey: #333333;
  --light-grey: #c4c4c4;
  --yellow: #FFB612;
  --red: #dc0a17;
  --green: #2FC022;

}

* {
  font-family: 'Playfair Display';
  color: #000000;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



@font-face {
  font-family: "Playfair Display", serif;
  src: url('assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Display", serif;
  src: url('assets/fonts/PlayfairDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Display", serif;
  src: url('assets/fonts/PlayfairDisplay-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Display", serif;
  src: url('assets/fonts/PlayfairDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
